#dashboard-menu{
    .ant-menu-item-selected,
    .ant-menu-item-active{
        background-color: rgba(255, 255, 255, 0.3);
    }

    .ant-menu-sub{
        background-color: rgba(0, 0, 0, 0.18);
    }

    .ant-menu-submenu-active {
        color: #fff;
    }
}