.image-container{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.action-btn{
    border-color: rgba(0, 0, 0, 0.65);
    color: rgba(0, 0, 0, 0.65);
}